<launch>
  
  <!-- load the controllers -->
  <node name="controller_spawner" pkg="controller_manager" type="spawner" respawn="false"
	output="screen" ns="/redblade" args="front_wheel_left_controller front_wheel_right_controller back_wheel_left_controller back_wheel_right_controller joint_state_controller"/>

  <!-- Load joint controller configurations from YAML file to parameter server -->
  <rosparam file="$(find redblade_control)/config/redblade_control.yaml" command="load"/>
  
  
  <!-- convert joint states to TF transforms for rviz, etc -->
  <node name="robot_state_publisher" pkg="robot_state_publisher" type="robot_state_publisher"
	respawn="false" output="screen">
    <remap from="/joint_states" to="/redblade/joint_states" />
  </node>
  
</launch>