<?xml version="1.0"?>
<robot>
  <material name="red">
    <color rgba="1 0 0 1"/>
  </material>
  <material name="green">
    <color rgba="0 1 0 1"/>
  </material>
  <material name="blue">
    <color rgba="0 0 1 1"/>
  </material>
  <material name="black">
    <color rgba="0 0 0 1"/>
  </material>
  <material name="white">
    <color rgba="1 1 1 1"/>
  </material>
  <material name="grey">
    <color rgba="0.6 0.6 0.6 1"/>
  </material>
  <material name="gold">
    <color rgba="0.855 0.647 0.125 1"/>
  </material>
  <material name="wheel">
    <color rgba="0.3 0.3 0.3 1"/>
  </material>

</robot>
