<launch>
<!-- Launch path planner node -->
<node pkg="path_planner" type="path_planner_node" name="path_planner_node" output="screen">
      <param name="survey_file" value="/home/redblade/Documents/Redblade/config/survey_file.txt"/>
      <param name="i_waypoint_file" value="/home/redblade/Documents/Redblade/config/single_i_waypoints.txt"/>
      <param name="triple_i_waypoint_file" value="/home/redblade/Documents/Redblade/config/triple_i_waypoints.txt"/>
      <param name="single_i" value="true"/>
      <param name="overlap_width" value="0.4"/>
      <param name="plow_width" value="1.1"/>
      <param name="rotation_center_to_front" value="1.0"/>
      <param name="rotation_center_to_rear" value="1.0"/>
      <param name="buffer" value="0.2"/>
      <param name="back_up_distance" value="0.3"/>
</node>

</launch>