<launch>

  <node pkg="nmea_navsat_driver" type="nmea_serial_driver" name="Topcon_DGPS" output="screen" >
    <param name="port" value="/dev/ttyDGPS" />
    <param name="baud" value="115200" /> 
    <param name="frame_id" value="TopconDGPS" />
    <param name="useRMC" value="False" /> 
  </node> 


  <node name="gps_conv" pkg="gps_common" type="gps_conv_node" >
    <remap from="odom" to="gps"/>		 
    <param name="filepath" value="/home/redblade/Documents/Redblade/config/" />
    <param name="rot_covariance" value="99999" />
    <param name="frame_id" value="base_footprint" />
  </node>

  <node name="imu_node" pkg="microstrain_3dmgx2_imu" type="imu_node" cwd="node" output="screen">
    <param name="port"  type="string" value="/dev/ttyACM1" />		
    
  </node>
  
    <node pkg="redblade_ax2550" type="ax2550_awd_node" name="roboteq_back" output="screen">
    <param name="serial_port_back" value="/dev/ttyROBOtop"/>
    <param name="serial_port_front" value="/dev/ttyROBObottom"/>
    <param name="cmd_vel_front" value="/roboteq_front/cmd_vel"/>
    <param name="cmd_vel_back" value="/roboteq_back/cmd_vel"/>
  </node>
  
  <node pkg="twist_msg_converter" type="twist_converter" name="twist_converter" output="screen">
    <!-- <param name="serial_port" value="some_serial_port"/> -->
    <!-- <param name="front_or_back" value="back"/> -->
  </node>

  <node name="redblade_ekf_node" 
	pkg="redblade_ekf" 
	type="redblade_ekf_test_node" 
	cwd="node" output="screen">
    <param name="survey_file" value="/home/redblade/Documents/Redblade/config/survey_enu.csv"/>
    <param name="single_or_triple" value="true"/>
  </node>
  
  <node pkg="sicktoolbox_wrapper" type="sicklms" name="lidar" output="screen">
  	<param name="port" value="/dev/ttyS0" />
  	<param name="angle" value="100" />
  	<param name="resolution" value="0.25" />
  </node>
  
  <node pkg="redblade_chad_laser"
  	type="redblade_chad_laser_node"
  	name="redblade_chad_laser_node"
  	output="screen">
    <param name="ekf_namespace" value="/redblade_ekf/2d_pose"/>
    <param name="laser_namespace" value="/scan"/>
    <param name="pole_namespace" value="/lidar/pole"/>
    <param name="single_or_triple" value="true"/>
  </node>

  <node pkg="path_planner" type="path_planner_node" name="path_planner_node" output="screen">
    <param name="survey_file" value="/home/redblade/Documents/Redblade/config/survey_enu.csv"/>
    <param name="single_i_waypoint_file" value="/home/redblade/Documents/Redblade/config/single_i_waypoints.csv"/>
    <param name="triple_i_waypoint_file" value="/home/redblade/Documents/Redblade/config/triple_i_waypoints.csv"/>
    <param name="overlap_width" value="0.4"/>
    <param name="plow_width" value="0.94"/>
    <!-- the next two values taken with plow at ~10-15 deg -->
    <param name="rotation_center_to_front" value="1.285"/>
    <param name="rotation_center_to_rear" value="0.615"/>
    <param name="buffer" value="0.4"/>
    <param name="back_up_distance" value="0.3"/>
  </node>
  
<!--     <node pkg="snowplow_pid" 
	 type="snowplow_pid_deluxe_node" 
	 name="snowplow_pid_node" 
	 output="screen">
    <param name="FAST_SPEED" value="0.75"/>
    <param name="SLOW_SPEED" value="0.25"/>
    <param name="KP" value="1.35"/>
    <param name="KI" value="0.9441"/>
    <param name="KD" value="0.4826"/>	
    <param name="KP_SLOW" value="0.0"/>	
    <param name="KI_SLOW" value="0.0"/>
    <param name="KD_SLOW" value="0.0" />
    <param name="pose" value="/redblade_ekf/2d_pose"/>
    <param name="cmd_vel" value="/cmd_vel"/>
    <param name="pole" value="/lidar/pole"/>
    <param name="is_single_i" value="true"/>
    <param name="waypoints_filename" value="/home/redblade/Documents/Redblade/config/single_i_waypoints.csv"/>
    <param name="survey_filename" value="/home/redblade/Documents/Redblade/config/survey_enu.csv"/>
  </node>
-->

</launch>
